name: Build and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build projectaria_tools on ${{ matrix.os }} / ${{ matrix.cmakeOptions }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest,  macOS-latest]
    steps:
      - name : Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Install dependencies
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
              # Update & upgrade package lists
              sudo apt-get update -y
              sudo apt-get upgrade
              # Deal with Github CI limitation
              # https://github.com/actions/runner-images/issues/6399#issuecomment-1285011525
              sudo apt install -y libunwind-dev

              # Generic dependencies
              sudo apt-get install cmake

              # Install VRS dependencies
              sudo apt-get install -o Acquire::Retries=5 \
                libgtest-dev libgmock-dev \
                libfmt-dev libcereal-dev \
                libturbojpeg-dev libpng-dev \
                liblz4-dev libzstd-dev libxxhash-dev \
                libboost-chrono-dev \
                libboost-date-time-dev \
                libboost-filesystem-dev \
                libboost-iostreams-dev \
                libboost-system-dev \
                libboost-thread-dev

              # Build Cereal (header only library)
              cd /tmp; git clone https://github.com/USCiLab/cereal.git -b v1.3.2 \
                && cd cereal \
                && cmake -DSKIP_PORTABILITY_TEST=1 -DJUST_INSTALL_CEREAL=ON .; sudo make -j$thread install; rm -rf /tmp/cereal;

              # Clean APT cache
              sudo apt-get clean

          elif [ "$RUNNER_OS" == "macOS" ]; then
              # Install system deps with Homebrew
              brew install cmake
              # VRS dependencies
              brew install boost fmt sophus cereal googletest glog lz4 zstd xxhash libpng jpeg-turbo
          else
              echo "$RUNNER_OS not supported"
              exit 1
          fi

      - name: Configure
        shell: bash
        run: |
          mkdir build
          cmake -DCMAKE_BUILD_TYPE=RELEASE -S . -B build \
            -DBUILD_UNIT_TEST=ON

      - name: Build and Test
        shell: bash
        run: |
          cd build
          make -j8
          ctest -j

      - name: Build Python bindings
        shell: bash
        run: |
          # Installing Python and dependencies
          if [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt-get install libpython3-dev python3-pip
            sudo pip3 install numpy
          elif [ "$RUNNER_OS" == "macOS" ]; then
            pip3 install numpy
          else
            echo "$RUNNER_OS not supported"
            exit 1
          fi

          # Build and install Python bindings
          pip3 install --global-option=build_ext --global-option="-j8" .
